
.Appli {
  text-align: center;
}
.App-headers {
  background-color: #282c34;
  padding: 20px;
  color: rgb(187, 76, 76);
}
.App-body {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.App-sidebar {
  height: 100%; /* Increase the height as needed */
  position:fixed;
  padding-top: 20;
  background-color: #808794;
  vertical-align: auto;
  
}
.App-container label {
  display: flex;
  margin: 2rem 1rem;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  overflow: hidden;
}
.App-container label input {
  margin-left: 100px; /* Adds some space between the label and the text box */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  padding: 5px 10px; /* Padding inside the text box */
}
.App-container label input {
  margin-left: 10px; /* Adds some space between the label and the text box */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  padding: 5px 10px; /* Padding inside the text box */
}
.App-main {
  position:fixed;
  top: 1;
  right: 0;
  color: #0800ff; /* Replace with your desired text color */
  width: 50%;
  justify-items:end
}

.App-container .large-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
}
.App-container .large-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.repo-description {
  color: #121314;
}
.repo-url {
  font-style: italic;
}
.repo-branches {
  margin-top: 10px;
}
.repo-branches li {
  list-style-type: none;
  margin-bottom: 10px;
  color: #121314;
}
.repo-branches li a {
  color: #219fed;
}
.repo-branches li a:hover {
  text-decoration: underline;
}
.repo-branches li a:visited {
  color: #219fed;
}
.repo-branches li:last-child {
  margin-bottom: 0;
}
.repo-branches li:last-child a {
  color: #121314;
}
.repo-branches li:last-child a:hover {
  text-decoration: none;
}
.repo-branches li:last-child a:visited {
  color: #121314;
}
.repo-branches li:last-child a:visited:hover {
  text-decoration: underline;
}
.repo-branches li:last-child a:hover {
  text-decoration: none;
}
